body {
    background-color: #1A1A1D;
    color: white;
}

body a {
    color: #C3073F;
}

body a:hover {
    color: #950740;
}

.required {
    color: red;
}

.tabs {
    color: black;
}

.tabs:hover {
    color: black;
}

#wrapper {
    height: 550px;
}

.code-block {
    padding: 50px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
}

.warning {
    color: red;
}

.add-padding {
    padding-top: 30px;
    padding-bottom: 30px;
}

#example-row {
    height: 350px;
}

#resultText {
    height: 550px;
    overflow-y: scroll;
}

#poster {
    display: block;
    margin: auto;
}

.footer {
    padding: 50px;
    background-color: #e9ecef;
    margin-top: 20px;
}

#footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#try {
    margin-top: 50px;
}

.grey-color {
    background-color: #4E4E50;
}

.color-pills > a {
    color: white;
}

.color-pills > a:hover {
    color: white;
}

.btn-red {
    background-color: #C3073F;
    color: white;
}

.btn-red:hover {
    background-color: #950740;
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #C3073F;
}

#options-table tbody td .fa-lg {
    color: #C3073F;
}

@media only screen and (max-width: 768px) {
    #wrapper {
        height: 800px;
    }

    #example-row {
        height: 700px;
    }

}

@media only screen and (max-width: 576px) {
    #doc {
        font-size: 30pt;
    }
}
